/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/** {
    border: 2px solid;
    padding: 15px;
    margin: 15px;
}*/

/*section#a p:hover:nth-child(2){
    background-color: red;
    padding: 40px;
}

section#b li:hover:nth-child(2) {
    background-color: red;
    padding: 40px;
}

div#container section:hover:nth-child(2){
    background-color: blue;
}*/

footer {
    background-color: grey;
}

#table{
    border: 1px solid black;
}