@{
    ViewData["Title"] = "Home Page";
}

@*<h1 id="judul">Hello World</h1>

    <div id="container">
        <section id="a">
            <p class="p1">paragraf 1</p>
            <p class="p2">paragraf 2</p>
            <a href="#">link</a>
            <p class="p3">paragraf 3</p>
        </section>
        <section class="b">
            <p id="a">
                paragraf 4
            </p>
            <ul>
                <li>list1</li>
                <li>list2</li>
                <li>list3</li>
            </ul>
        </section>
    </div>

    <div id="userdata"></div>
    <div id="result"></div>
    <div id="sel"></div>
    <button onclick="init()">Load Content</button>*@

<h1 class="mt-3">Grid System</h1>
<section style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-lg">
                <div class="row">
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, non. Eligendi et, reiciendis harum temporibus, consequatur quos rem, debitis maiores dolorem tempora quaerat porro omnis. Soluta maiores sit similique facilis?
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos esse beatae commodi deserunt placeat nemo iste qui. Repellendus aliquam aperiam eligendi magnam. Quia nemo officia amet sapiente veritatis, cum vel.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, non. Eligendi et, reiciendis harum temporibus, consequatur quos rem, debitis maiores dolorem tempora quaerat porro omnis. Soluta maiores sit similique facilis?
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos esse beatae commodi deserunt placeat nemo iste qui. Repellendus aliquam aperiam eligendi magnam. Quia nemo officia amet sapiente veritatis, cum vel.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table id="table" style="border: 1px solid black;">
            </table>
        </div>
    </div>
    <button onclick="changeColor()" id="btnColor">Change Color</button>
    <button class="btnBg">Change Color2</button>
    <button onclick="addCSS()" id="btnCSS">Add CSS</button>
    <button class="btnData">Show Data</button>
    <button class="allAnimals">All Animals</button>
    <button class="catOnly">Cat only</button>
    <button class="nonMamals">non-mamals</button>
    <p id="txt"></p>
</section>
@*<div class="container">
        <div class="row">
            <div class="col-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tempore velit exercitationem ab aliquam iusto accusamus nam, aperiam odit blanditiis, totam voluptatibus, quasi deserunt voluptas libero ullam aliquid praesentium corrupti!</div>
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, non. Eligendi et, reiciendis harum temporibus, consequatur quos rem, debitis maiores dolorem tempora quaerat porro omnis. Soluta maiores sit similique facilis?
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos esse beatae commodi deserunt placeat nemo iste qui. Repellendus aliquam aperiam eligendi magnam. Quia nemo officia amet sapiente veritatis, cum vel.
                    </div>
                </div>
            </div>
        </div>
    </div>*@


